{% extends 'base/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center m-4">Materias con mayores reprobados</h1>
    <canvas id="myChart"></canvas>
</div>


<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels|safe }},
            datasets: [{
                label: 'Notas reprobadas por materia',
                data: {{ data|safe }},
                backgroundColor: 'rgba(255, 99, 132, 1)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{% endblock %}